span {
  margin-right: 0.5em;
}

div.debug {
  position: fixed;
  bottom: 20px;
  left: 10px;
  z-index: 1;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.2);
  color: #ff7500;
  font-size: 0.75em;
  padding: 0.5em;
  width: initial;
}

#alert-popup {
  border-radius: 5px;
  position: absolute;
  bottom: 10%;
  left: 5%;
  display: block;
  width: 80%;
  margin: 1em;
  padding: 0.25em;
  color: #ff7500;
  font-size: 0.75em;
  text-align: center;
  background-color: white;
}

#place-label {
  position: absolute;
  top: 5%;
  left: 0%;
  display: flex;
  justify-content: center;
  width: 100%;
}

#place-label > span {
  z-index: 99999;
  padding: 0.25em;
  color: #ff7500;
  text-align: center;
  background-color: white;
  font-size: 1.5em;
  border-radius: 5px;
}

.arjs-loader {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  pointer-events: none;
  border: 0.4em solid transparent;
  border-color: #eee;
  border-top-color: #444;
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc;
  border-radius: 8px;
  z-index: 1000;
  text-align: center;
  max-width: 300px;
}
#popup h2 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}
#popup p {
  margin: 0 0 20px;
  font-size: 16px;
  color: #555;
}
#popup button {
  background-color: #5c8a12;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}
#popup button:hover {
  background-color: #0056b3;
}
@keyframes loadingspin {
  100% {
    transform: rotate(360deg);
  }
}
